/* reset */

*{
  box-sizing: border-box;
 
}

body {
  background-color: lavender; 
}

.countdown{
  align-items: center;
  text-align: center;
  font-size: 2rem;
}

.Kuromi{
  display: block;
 margin-left: auto;
 margin-right: auto;
 padding: 30px;
 max-width: 400px;
 background-color: aliceblue;
 
}

